* {
  font-family: "Century Gothic", sans-serif;
}

body {
  position: relative;
}

.active {
  background-color: #E0DFDF;
}

.loader {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 9999;
background: url(../img/spinner.gif) 50% 50% no-repeat rgb(249,249,249); 
}

.bx-wrapper .bx-viewport {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border: solid #fff 5px;
    left: -5px;
    background: #fff;
}


hr { 
    display: block;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
} 

#welcome{
    font-size: 70px;
    position:relative;
    top:40%;
    cursor:context-menu;
    margin:0 auto;  
    text-align: center;
    z-index:1;
}

.os-animation{
  opacity: 0;
}

.os-animation.animated{
    opacity: 1;
}

.jumbotron a:hover {
  color: white;
  font-size:20px;
  text-decoration: none;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron .container .h1 {
  background-color: white;
}

.jumbotron h1 {
  text-align:center;
  color: #fff;
  font-size: 48px;  
  font-weight: bold;
  text-shadow:3px 3px (105, 93, 93);
  opacity: 1;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s
}

#downArrow{
    position:absolute;
    top:80%;
    left:50%;
    z-index:1;
}

#downArrow:hover{
    opacity:0.5;
}

html, body { height:100%; padding:0; margin:0; }



.jumbotron {
  background:url(../img/background.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 650px;
  filter:alpha(opacity=90)
  text-align:center;
  height:100%;
  width:100%;
}

.jumbotron2 {
  background:url(../img/mypicture.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 650px;
  filter:alpha(opacity=90)
  text-align:center;
  width:auto;
}

.about h2 {
  border-bottom: 2px solid #457B7C;
  font-size:3em;
  padding: 0.2em;
  margin: 1em;
  color: black;
}

.about {
  background-color: rgba (255, 0, 0, 0.4);
  text-align:left;
}

.about p {
  font-size:1.4em;
  color: gray;
}

.about h3 {
  font-size: 1.6em;
  font-weight: bold;
  color:#282D2A;
}

a:hover {
  color: black;
  font-size: 1.3emx;
  font-weight: bold;
}

p a {
  color: rgb(165, 154, 157);
  font-weight: bold;
}

.col-md-3 h3 {
  margin-left:2em;
  margin-right:2em;
  padding-bottom:0.4em;
  padding-top:0.4em;
  color:#282D2A;
  opacity:0;
}

.nav a {
  color: black;
  font-size:16px;
  text-align:center;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}

.nav a:hover{
  color: rgb(100,100,100);
  font-size:16px;
  text-decoration: none;
  text-align:center;
}


.columns twelve offset-by-two p {
  padding-left:15px;
}

.icon-right-open-big a {
  background-color: red;
}

img {
  padding: 2%;
}

.footer {
background-color: #879CA5;
color: #fff;
padding-top: 30px;
padding-bottom: 20px;
position: relative;
}

#footer li {
display: inline-block;
list-style-type: none;
padding-right: 20px;
}

.footer p {
  text-align: left;
  padding-left:30px;
}

#merisaPicture img{
    width:220px; 
    height:220px; 
    border-radius:440px;
    margin-top:5px;
}

#circleBorder {
width: 200px;
height: 200px;
display: inline-block;
margin: 0px;
margin-top: 30px;
}

ul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}

#footerlist li {
display: inline-block;
list-style-type: none;
padding-right: 20px;
}